<html>
	<head>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="vue_app">
			
			<p>WiFi</p>
			<button @click="scanActiveNetworks">Scan!</button>
			<div id="id_wifi" v-for="wifi in wifis">
			</div>
			
			<p>Bluetooth </p>
			<div id="id_bluetooth">
				<button @click="bluetooth" class="blue_button">(On/Off)</button>
			</div>
			
			<p>Playlists</p>
			<div id="id_playlists">
				<select v-model="selected_playlist">
					<option disabled value="">Choose playlist</option>
					<option v-for="playlist in playlists" :value="playlist.uuid">
						{{ playlist.name }}
					</option>
				</select>
			</div>
			
			<p>Tracks</p>
			<div id="id_tracks" v-for="track in tracks">
				<button @click="deleteTrack(track.path)">{{ track.path }}</button>
			</div>
			
			<p>Directory</p>
			<div id="id_files" v-for="file in files">
				<div v-if=file.type=="f" class="file" v-bind:id="file.path">
					<button @click="addTrack(file.path)">{{ file.path }}</button>
				</div>
				<div v-else class="dir" v-bind:id="file.path">
					<button @click="openSubDirectory(file.path)">{{ file.path }}</button>
				</div>
			</div>
			
		</div>
	</body>
	<script src="index.js"></script>
</html>
