body {
}

#app-networks{
  border: 1em solid hidden;
  border-radius: 1em;
  background-color: rgb(233, 233, 233);
  padding: 1em 1em 1em 1em;
}

#app-playlists{
  clear: both;
  padding: 1em 1em 1em 1em;
}

#card_select{
  float: left;
}

#card_image{
  float: left;
  width: 200px;
  height: 200px;
}

#card_edit{
  padding: 0;
  float: left;
  width: 200px;
  height: 300px;
}

#card_tracks{
  padding: 0;
  float: left;
  width: 600px;
  max-height: 200px;
  overflow: auto;
}

#app-files{
  clear: both;
  border-radius: 1em;
  background-color: rgb(233, 233, 233);
  padding: 1em 1em 1em 1em;
}

#app-files span{
}

img.uploadfile, img.addtrack, img.deletefile, img.deletetrack {
}

.add_curser_pointer{
  cursor: pointer;
}