body {
  background-color: powderblue;
}

#app-networks{
  float: none;
  border: 1px solid hidden;
}

#app-playlists{
}

#card_select{
  float: left;
}

#card_image{
  float: left;
  width: 200px;
  height: 200px;
}

#card_edit{
  padding: 0;
  float: left;
  width: 200px;
  height: 200px;
}

#card_tracks{
  padding: 0;
  float: left;
  width: 600px;
  max-height: 200px;
  overflow: auto;
}

#app-files{
  clear: both;
}

#app-files span{
  cursor: pointer;
}